@font-face {
  font-family: 'Cqsr';
  src: url('./assets/MADE_Tommy_Soft_Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Cqsr', sans-serif;
}

body {
  background-color: #fafafa !important;
}

.app {
  display: block;
  position: relative;
}

/* SCROLLBAR
::-webkit-scrollbar {
  width: 10px;
}

TRACK
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

HANDLE
::-webkit-scrollbar-thumb {
  background: #194AC1;
  border-radius: 10px;
}

HANDLEE ON HOVER
::-webkit-scrollbar-track:hover {
  background: #555;
} */

/* Navbar */
